# Compiled sources #
####################
*.com
*.class
*.dll
*.exe
*.bin

# Logs and Databases #
######################
*.log
*.tlog
*.pdb
*.idb
*.obj
*.lst

# Documents & summarys #
########################


# Misc #
########
*.bak

# Xilinx stuff #
################
*.xwbt
*.xml
*.drc
*.html
*.syr
*.ngc
*.stx
*.xrpt
*.ncd
*.ngr
*.map
*.tcl
*.pcf
*.ptwx
*.par
*.xmsgs
*.data
*.bgn
*.bld
*.bit
*.pad
*.ppl
*.xreport
*.projectmgr
*.xbcd
*.xst
*.tmp
*.mrp
*.debug
*.csv
*.xpi
*.unroutes
*.cmd_log
*.twr
*.twx
*.lso
*.ngm
*.txt
*.ut






